# Entorno virtual (NO SUBIR)
venv/
.venv/
env/
.env/

# Archivos de sistema
.DS_Store
Thumbs.db
__pycache__/
*.pyc
*.tif

# Archivos grandes de datos
data/era5_procesado_maestro.csv
Render/Mapa/terrain_vertices.npy

